.App {
  text-align: center;
}

.App-header {
  background-color: #05556b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.timelapse {
  max-width: 100%;
  display: block;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.footer {
  font-size:16px;
}

.column {
  float: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-left:0;
    margin-right:0;
  }
}

.iframe-container {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}
 
.iframe-container iframe {
   border:0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}