.App {
  text-align: center;
}

.App-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    167deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(54, 54, 149, 1) 0%,
    rgba(54, 54, 149, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 1vmin);
  color: white;
  padding: 2vmin 0 2vmin;
}

.timelapse {
  max-width: 100%;
  display: block;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.footer {
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  width: 100%;
}
